.menu{
   display: flex;
   justify-content: space-around;
   margin-bottom: 12px;
   margin-top: 12px;
   align-items: center;
    .menu__pesquisa{
        display: flex;
        flex-direction: row;
        border: 1px solid ;
        max-width: 300px;
        width: 100%;
        border-radius: 2px;
        overflow: hidden;
    }
    input{
        width: 80%;
        padding: 4px 6px;
        border: none;
        outline: none;
    }
    &__pesquisa__button{
        flex: 1;
        cursor: pointer;
        border: none;
        width: 40px;
        height: 40px;
    }
}